LOG_LEVEL=DEBUG
MINIO_HOST=minio-api.domain.com
MINIO_PORT=443
MINIO_ACCESS_KEY=MINIO_ACCESS_KEY
MINIO_SECRET_KEY=MINIO_SECRET_KEY

MINIO_SECURE=True
CF_ACCESS_CLIENT_ID=CF_ACCESS_CLIENT_ID.access
CF_ACCESS_CLIENT_SECRET=CF_ACCESS_CLIENT_SECRET
